---
import Layout from "./Layout.astro";
import { TopNav } from "../components/TopNav";
import { GlobalErrorProviderWrapper } from "../components/GlobalErrorProviderWrapper";

interface Props {
  title?: string;
}

const { title = "Dashboard - DoFIRE" } = Astro.props;
---

<Layout title={title}>
  <GlobalErrorProviderWrapper client:only="react">
    <TopNav client:only="react" />
    <main role="main">
      <slot />
    </main>
  </GlobalErrorProviderWrapper>
</Layout>
